<li>
    <div class="row">
        <div class="col-md-3">
            <div class="list-item-image">
            	{%if row._entity.field_thumbnail_image.entity.filename %}
            		<a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}" style="max-height: 225px; overflow: hidden; display: block; border: none !important;">
                		<img class="img-responsive" src="{{file_url(row._entity.field_thumbnail_image.entity.uri.value)}}">
                	</a>
                {% endif %}
            </div>
        </div>

         <div class="col-md-9">
            <div class="list-item-detail">
            	<h6 class="sub-headline">
                    {% if row._entity.field_hide_date_timestamps.value %}
                        {{row._entity.field_event_date.date|date("F j, Y", "America/New_York")}}
                    {% else %}
                        {{row._entity.field_event_date.date|date("F j, Y, g:i a", "America/New_York")}}
                    {% endif %}
                    {% set start_date = row._entity.field_event_date.date|date("F j, Y", "America/New_York") %}

                    {% if row._entity.field_event_end_date.date %}
                        {% if start_date == row._entity.field_event_end_date.date|date("F j, Y", "America/New_York") %}
                            {% if row._entity.field_hide_date_timestamps.value %}
                            {% else %}
                                &ndash;
                                {{row._entity.field_event_end_date.date|date("g:i a", "America/New_York")}}
                            {% endif %}
                        {% else %}
                            {% if row._entity.field_hide_date_timestamps.value %}
                                &ndash;
                                {{row._entity.field_event_end_date.date|date("F j, Y", "America/New_York")}}
                            {% else %}
                                &ndash;
                                {{row._entity.field_event_end_date.date|date("F j, Y, g:i a", "America/New_York")}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </h6>
                <h2><a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}">{{row._entity.title.value}}</a></h2>
                {{fields.body.content}}
                
                <p><strong><a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}">Read more</a></strong></p>
            </div>
        </div>
    </div>
    <br />
    <hr>
</li>

