<div class="col-md-4 col-sm-6 press-item-li" style="display:none;">
    <div>
        <div class="press-image">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#myVideoModal" data-code="{{row._entity.field_video_code.value}}" 
             data-image="{{row._entity.field_video_link.value}}"
             data-title="{{row._entity.title.value}}"
             data-thumbnail="{{file_url(row._entity.field_video_thumbnail.entity.uri.value)}}"
             data-codes="{{row._entity.field_video_code.value}}"
             data-credit="{{row._entity.field_video_credit.value}}"
             date-desc="{{row._entity.field_video_description.value}}">
                <img class="img-responsive" src="{{file_url(row._entity.field_video_thumbnail.entity.uri.value)}}" style="">
            </a>

            <div class="overlay">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#myVideoModal" data-code="{{row._entity.field_video_code.value}}" 
             data-image="{{row._entity.field_video_link.value}}"
             data-title="{{row._entity.title.value}}"
             data-thumbnail="{{file_url(row._entity.field_video_thumbnail.entity.uri.value)}}"
             data-codes="{{row._entity.field_video_code.value}}"
             data-credit="{{row._entity.field_video_credit.value}}"
             date-desc="{{row._entity.field_video_description.value}}"><span class="glyphicon glyphicon-download-alt"></span></a>
            </div>
        </div>

        <div class="caption">
        
            <p>{{ row._entity.title.value }}</p>
        </div>
    </div>
</div>